 .features ul{
     margin:auto;
     width: 70%;
     text-align: left;
 }
 .title-padding{
     padding: 2rem 0;
 }
 .declaration-example img{
    width: 50%;
 }
 .type-title{
     font-size: 50px;
     padding: 3rem 0;
     font-weight: bold;
 }
 .accessing-array img{
    width: 50%;
 }
 .md-array img{
     width: 80%;
 }
 .row-borders{
     border-bottom: 2px solid black;
     padding-bottom: 2rem;
 }
 #footersection{
    background-color: rgb(9, 10, 4) !important;
}
.s1{
    font-weight: bold !important;
}
.iconsfooter{
    text-decoration: none !important;
}
.iconsfooter a{
    color: white;
}
#syntaxpt3typescript{
    background-color:rgb(249, 249, 249);
}
.card-body:hover{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
  