 .features ul{
     margin:auto;
     width: 70%;
     text-align: left;
 }
 .title-padding{
     padding: 2rem 0;
 }
 .declaration-example img{
    width: 50%;
 }
 .type-title{
     font-size: 50px;
     padding: 3rem 0;
     font-weight: bold;
 }
 .accessing-array img{
    width: 50%;
 }
 .md-array img{
     width: 80%;
 }
 .row-borders{
     border-bottom: 2px solid black;
     padding-bottom: 2rem;
 }
 
@media only screen and (max-width: 758px) {
    .what-is-array img{
        width: 60%;
    }
    .features ul{
        width: 90%;
    }
}
  