@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background: url('../img/pozadina4.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: 100% 100%;
}
.contmain{
    padding: 0 !important;
}
/*Navbar css*/
#nav-section {
    height: 90vh;
    width: 100%;
    background: url('../img/pozadina4.jpg') no-repeat center;
    background-size: cover;
    background-size: 100% 100%;
    overflow: hidden;
}
input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
  }
  .header-common{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li a{
    font-size: 1.1rem;
    text-decoration:  none;
    color: white;
  }
  ul{
   margin: 0%;
   padding: 0%;

  }
  #navigation{
    display: none;
  }
  nav{
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
    background-color: rgba(14, 11, 11, 0.609);
    
  }
  .nav-menu{
    display: flex;
    list-style: none;
  }
  .nav-menu .nav-li{
    padding: 0rem 2rem;
  }
  #sub-menu{
    display: none;
    position: absolute;
    margin: 0;
    width: 220px;
    background-color: rgb(87, 83, 83);
    list-style: none;
  }
  #sub-sub-menu{
    width: 150px;
    display: none;
    position: absolute;
    top: 0;
    left: 220px;
    background-color: rgb(87, 83, 83);
    list-style: none;
  }
  .submenu-li{
   padding: .2rem 2rem;
  }
  #docs{
    position: relative;
  }
  #docs:hover #sub-menu{
    display: block;
  }
  #basic-syntax:hover #sub-sub-menu{
    display: block;
  }
  .row-wrapper{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
  }
#text{
    color: white;
    font-size: 30px;
    margin-top: 280px;
    font-weight: 700;
    text-align: center;
}
#introductionofsyntax{
    background-color:rgb(249, 249, 249);
}
/*OnScroll text fade in css*/
.reveal{
    position: relative;
    transform: translateY(250px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
#text1{
    color: #212529;
    font-size: 30px;
    font-family: 'Poppins' sans-serif;
    text-align: center;
}
#fixed {
    background: url('../img/stefan-gall-sF4RV2lDtW0-unsplash.jpg') no-repeat center fixed;
    height: 400px;
    background-size:cover;
}
#syntaxpt1typescript{
    margin-top: -20px;
    background-color:rgb(249, 249, 249);
}
#fixed1 {
    background: url('../img/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg') no-repeat center fixed;
    height: 400px;
    background-size: cover;
}
#syntaxpt2typescript{
    margin-top: -20px;
    background-color:rgb(249, 249, 249);
}
#footersection{
    background-color: rgb(9, 10, 4) !important;
    
}
.s1{
    font-weight: bold !important;
}
.iconsfooter{
    text-decoration: none !important;
}
.iconsfooter a{
    color: white;
}
#syntaxpt3typescript{
    background-color:rgb(249, 249, 249);
}
.card-body:hover{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

/*49,120,198*/