.example{
    background-color: rgb(226, 23, 5);
    padding: 2rem 0;
    font-size: 1.4rem;
    color: white;
    border: 3px solid black;
}
.example:hover{
    background-color: rgb(151, 28, 17);
    color: white;
    transition-duration: 500ms;
}
.example p span{
    color: blue;
}
.example-title{
    font-style: italic;
    color: rgb(46, 45, 45);
}
.syntax span{
    font-style: italic;
    font-style: bold;
    color:purple
}
.example-1{
    background-color: rgb(156, 19, 19);
    padding: 1rem 0;
    font-size: 1.2rem;
    color: rgb(199, 194, 194);
    margin-bottom: 1.5rem;
    border: 2px solid white;
}
.example-1:hover{
    background-color: rgb(102, 20, 20);
    color: white;
    transition-duration: 500ms;
}
.example-1-paragraph span{
    text-decoration: underline;
    color: crimson;
    padding: 0.1rem;
    font-style: italic;
}
.example-2{
    background-color: rgb(255, 0, 0);
    padding: 2rem 0;
    font-size: 1.2rem;
    color: white;
    border: 3px solid black;
}
.example-2:hover{
    background-color: rgb(182, 39, 39);
    padding: 2rem 0;
    font-size: 1.2rem;
    color: rgb(209, 206, 206);
    transition-duration: 500ms;
    border: 3px solid black;
}
.example-2-paragraph span{
    color: coral;
    font-style: italic;
    text-decoration: underline;
}
.example-3{
    background-color: rgb(148, 1, 1);
    padding: 1rem 0;
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    border: 3px solid black;
}
.example-3:hover{
    background-color: rgb(116, 7, 7);
    padding: 1rem 0;
    font-size: 1.2rem;
    color: rgb(253, 253, 253);
    border: 3px solid black;
}