@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background: url('../img/pozadina4.jpg');
  font-family: 'Poppins', sans-serif;
  background-size: 100% 100%;
  overflow-x: hidden;
}
input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
}
#nav-section {
  height: 600px;
  width: 100%;
  background: url('../img/pozadina4.jpg') no-repeat center;
  background-size: cover; 
  overflow: hidden;
}
ul li a{
  font-size: 1.1rem;
  text-decoration:  none;
  color: white;
}
ul{
 margin: 0%;
 padding: 0%;
  list-style: none;
}
#navigation{
  display: none;
}
nav{
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}
.nav-menu{
  display: flex;
}
.nav-menu .nav-li{
  padding: 0rem 2rem;
}
#sub-menu{
  display: none;
  position: absolute;
  margin: 0;
  width: 220px;
  background-color: rgb(87, 83, 83);
}
#sub-sub-menu{
  width: 150px;
  display: none;
  position: absolute;
  top: 0;
  left: 220px;
  background-color: rgb(87, 83, 83);
}
.submenu-li{
 padding: .2rem 2rem;
}
#docs{
  position: relative;
}
#docs:hover #sub-menu{
  display: block;
}
#basic-syntax:hover #sub-sub-menu{
  display: block;
}
.top-div {
  height: 900px;
  overflow: scroll;
  position: relative;
  padding: 4rem 4rem 0rem 4rem;
  background-color: white;
}
.bottom-div {
  overflow: hidden;
  margin: 10px 0px;
}
.loop {
  position: absolute;
}
.flow {
  width: 250px;
}
.bottom-div ul {
  display: flex;
  margin: 0%;
  list-style: none;
  justify-content: space-between;
}
.button {
  padding: 0.7rem 0;
  width: 200px;
  text-align: center;
  background-color: rgb(255, 127, 8);
  color: white;
  font-size: 1.4rem;
  cursor:pointer;
}
.image-wrapper {
  text-align: center;
}
.hidde{
  opacity: 0;
}
.show{
  opacity: 1;
  transition-duration: 900ms;
}
.contmain{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#footersection{
  background-color: rgb(9, 10, 4) !important;
  
}
.s1{
  font-weight: bold !important;
}
.iconsfooter{
  text-decoration: none !important;
}
.iconsfooter a{
  color: white;
}
@media only screen and (max-width: 758px) {
.bottom-div ul {
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
.button{
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
}
nav{
  display: block;
  padding-top: 0%;
}
.nav-menu{
  display: none;
}
.links{
  justify-content: center;
}
.nav-form form{ 
  width: 100%;
  justify-content: center;
}
#navigation{
  display: block;
  font-size: 45px;
  color: white;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.display-nav{
  display: block;
}
.hidde-nav{
  display: none;
}
#sub-menu{
  height: 200px;
  overflow-y: scroll;
  position: relative;
  left: 50px;
  background-color: unset;
  }
#sub-sub-menu{
  width: auto;
  position: relative;
  top: 0;
  left:50px;
  background-color: unset;
  }
}