.top-div {
  height: 900px;
  overflow: scroll;
  position: relative;
  padding: 4rem 4rem 0rem 4rem;
  background-color: white;
}
.bottom-div {
  overflow: hidden;
  margin: 10px 0px;
}
.loop {
  position: absolute;
}
.flow {
  width: 250px;
}
.bottom-div ul {
  display: flex;
  margin: 0%;
  list-style: none;
  justify-content: space-between;
}
.button {
  padding: 0.7rem 0;
  width: 200px;
  text-align: center;
  background-color: rgb(255, 127, 8);
  color: white;
  font-size: 1.4rem;
  cursor:pointer;
}
.image-wrapper {
  text-align: center;
}
.hidde{
  opacity: 0;
}
.show{
  opacity: 1;
  transition-duration: 900ms;
}
@media only screen and (max-width: 758px) {
  .bottom-div ul {
    flex-direction: column;
  }
  .bottom-div ul li{
    width: 100%;
  }
}
