
.string-row{
      margin-bottom: 2rem;
  }
  .bt-string{
      margin-top:2rem ;
  }
  .string-img{
      width: 100%;
  }
  .code-container{
      background-color: rgb(73, 62, 62);
      padding: 1rem 0;
  }

 