@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background: url('../img/pozadina4.jpg');
  font-family: 'Poppins', sans-serif;
  background-size: 100% 100%;
  
}
/*------------------------------------*/

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
  }
  .header-common{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li a{
    font-size: 1.1rem;
    text-decoration:  none;
    color: white;
  }
  ul{
   margin: 0%;
   padding: 0%;

  }
  #navigation{
    display: none;
  }
  nav{
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
    background-color: rgba(14, 11, 11, 0.609);
    
  }
  .nav-menu{
    display: flex;
    list-style: none;
  }
  .nav-menu .nav-li{
    padding: 0rem 2rem;
  }
  #sub-menu{
    display: none;
    position: absolute;
    margin: 0;
    width: 220px;
    background-color: rgb(87, 83, 83);
    list-style: none;
  }
  #sub-sub-menu{
    width: 150px;
    display: none;
    position: absolute;
    top: 0;
    left: 220px;
    background-color: rgb(87, 83, 83);
    list-style: none;
  }
  .submenu-li{
   padding: .2rem 2rem;
  }
  #docs{
    position: relative;
  }
  #docs:hover #sub-menu{
    display: block;
  }
  #basic-syntax:hover #sub-sub-menu{
    display: block;
  }
  .row-wrapper{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
  }
  /*------------------------------------*/
  .banner{
      width: 100%;
      background-image: url('../img/array.png');
      background-size: 100% 100%;
      overflow: hidden;
  }
  .banner-color{
      background-color: rgba(35, 37, 39, 0.6);
      height: 500px;
      transition-duration: 400ms;
  }
  .title-wrapper{
    height: 436px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-wrapper h1{
      color: white;
      font-size: 100px;
      padding-bottom: 55px;
      text-align: center;
  }
  .banner:hover .banner-color{
    background-color: rgba(35, 37, 39,1);
      transition-duration: 400ms;
  }
  /*------------------------------------------*/
  .title-padding{
    padding-bottom: 2rem;
}
.common-styles{
    text-align: center;
    color: black;
    background-color:white;
    overflow: hidden;
  }
  /*-----------------------------------------*/
  .string-row{
      margin-bottom: 2rem;
  }
  .bt-string{
      margin-top:2rem ;
  }
  .string-img{
      width: 100%;
  }
  .code-container{
      background-color: rgb(73, 62, 62);
      padding: 1rem 0;
  }

   /*-----------------------------------------*/
   .blue-background{
    background-color: rgb(8, 147, 189);
    color: white;
    padding: 4rem 0;
  }
  .white-background{
    padding: 4rem 0rem;
  }
  /*---------------------------------------*/